<%- include('./header.ejs') %>
</head>
<body>
<main class="container">
    <article style="padding: 2rem;">
        <main style="display: flex; align-items: center; flex-direction: column;">
            <h1 style="margin-bottom: 15px;">Erreur: <%= error  %></h1>
            <p>URL: <%= url %></p>
            <img src="/public/assets/svg/error.svg" alt="Error" style="width: 100%; max-width: 400px; margin-bottom: 15px;">
            <button class="btn" onclick="window.location.href='/'" style="width: auto">Retour à l'accueil</button>
        </main>

    </article>

</main>
</body>
</html>