<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Fidelité | Vache burger</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/public/pico/css/pico.min.css">
    <link rel="icon" href="https://vacheburger.fr/wp-content/uploads/2022/11/cropped-vache-burger-favicon-restaurant-nancy-32x32.png" sizes="32x32">
    <link rel="icon" href="https://vacheburger.fr/wp-content/uploads/2022/11/cropped-vache-burger-favicon-restaurant-nancy-192x192.png" sizes="192x192">
    <link rel="stylesheet" type="text/css" href="/public/css/global.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
