<script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.4/html5-qrcode.min.js" integrity="sha512-k/KAe4Yff9EUdYI5/IAHlwUswqeipP+Cp5qnrsUjTPCgl51La2/JhyyjNciztD7mWNKLSXci48m7cctATKfLlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/public/js/vendor.js"></script>
<link rel="stylesheet" href="/public/css/vendor.css">
</head>
<body>
<!-- Nav -->
<nav class="container-fluid">
    <ul>
        <li><a href="https://vacheburger.fr"><strong>Vache Burger</strong></a></li>
    </ul>
    <ul>
        <li><button id="logout_btn" class="btn btn-outline-primary">Déconnexion</button></li>
    </ul>
</nav>
<!-- ./ Nav -->
<main class="container">
    <article>
        <main id="vendor_ui">
            <div id="search">
                <div id="reader">

                </div>
                <form id="mail_search">
                    <input type="email" name="mail" id="mail" aria-label="mail" placeholder="Adresse mail">
                    <button type="submit" class="btn btn-primary">Valider</button>
                </form>
            </div>

            <div id="interface" style="display: none">
                <h2 id="available_points"></h2>
                <h3>Ajouter :</h3>
                <form id="add">
                    <fieldset>
                        <input type="number" min="0" name="points" id="add_points" aria-label="points" placeholder="Montant de la commande">
                    </fieldset>
                    <button type="submit" class="btn btn-primary">Valider</button>
                </form>
                <h3>Retirer :</h3>
                <form id="remove">
                    <fieldset>
                        <details role="list">
                            <summary aria-haspopup="listbox">Points à retirer</summary>
                            <ul role="listbox">
                                <li>
                                    <label for="20">
                                        <input type="radio" id="20" name="size" value="20">
                                        20 points
                                    </label>
                                </li>
                                <li>
                                    <label for="40">
                                        <input type="radio" id="40" name="size" value="40">
                                        40 points
                                    </label>
                                </li>
                                <li>
                                    <label for="60">
                                        <input type="radio" id="60" name="size" value="60">
                                        60 points
                                    </label>
                                </li>
                                <li>
                                    <label for="75">
                                        <input type="radio" id="75" name="size" value="75">
                                        75 points
                                    </label>
                                </li>
                                <li>
                                    <label for="90">
                                        <input type="radio" id="90" name="size" value="90">
                                        90 points
                                    </label>
                                </li>
                            </ul>
                        </details>
                    </fieldset>
                    <button type="submit" class="btn btn-primary">Valider</button>
                </form>
                <button id="cancel_btn" class="btn btn-primary">Annuler</button>
            </div>
        </main>
